body {
  height: 1080px;
  width: 1080px;
}

@media (min-width: 1024px) {
  .square {
    height: 33%;
    width: 33%;
    background-color: blue;
    border: 5px solid green;
    border-radius: 50%;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .square {
    height: 66%;
    width: 66%;
    background-color: red;
    border: 5px solid yellow;
    border-radius: 15px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .square {
    height: 100%;
    width: 100%;
    background-color: orange;
    border: 5px solid black;
  }
}
